<app-header></app-header>
<app-header-mobile></app-header-mobile>

<body>
  <!--fundo header-->
  <div id="fundo"></div>

  <div id="categorias">
    <a href="/portifolio/pre-wedding">
      <div class="categoria">
        <img
          id="1"
          src="assets/photos/pre-wedding.jpg"
          alt="dream weedings ensaio pré wedding"
          class="photo"
        />
        <a class="title">PRÉ WEDDING</a>
      </div>
    </a>

    <a href="/portifolio/casamentos-noturnos">
      <div class="categoria">
        <img
          src="assets/photos/casamentos-noturnos.jpg"
          alt="dream weedings casamentos noturnos"
          class="photo"
        />
        <a class="title">CASAMENTOS NOTURNOS</a>
      </div>
    </a>

    <a href="/portifolio/casamentos-diurnos">
      <div class="categoria">
        <img
          src="assets/photos/casamentos-diurnos.jpg"
          alt="dream weedings casamentos diurnos"
          class="photo"
        />
        <a class="title">CASAMENTOS DIURNOS</a>
      </div>
    </a>

    <a href="/portifolio/ensaio-casal">
      <div class="categoria">
        <img
          src="assets/photos/ensaio-casal.jpg"
          alt="dream weedings ensaio casal"
          class="photo"
        />
        <a class="title">ENSAIO CASAL</a>
      </div>
    </a>
  </div>
  <app-footer-dark></app-footer-dark>
</body>
