<footer>
  <div class="tab-footer" fxLayout="column" fxLayoutAlign="center center">
    <img
      id="logo"
      src="assets/1.png"
      alt="dream-weedings-logo"
      width="400px"
      height="168px"
    />
    <P id="contato"
      >Vamos eternizar momentos?
      <a href="contato" class="link">clique aqui</a>
      ou entre em contato por um dos links abaixo</P
    >

    <ul fxLayout="row" fxLayoutAlign="space-around center">
      <li>
        <a href="https://www.instagram.com/dreamweddingsph/">
          <img
            id="instagram"
            src="assets/icon/instagram.png"
            alt="instagram"
            width="20px"
            height="20px"
          />
        </a>
      </li>

      <li>
        <a href="https://www.facebook.com/dreamweddingslarinavarro">
          <img
            id="facebook"
            src="assets/icon/facebook.png"
            alt="facebook"
            width="20px"
            height="20px"
          />
        </a>
      </li>

      <li>
        <a
          href="https://api.whatsapp.com/send/?phone=5511951983373&text&type=phone_number&app_absent=0"
        >
          <img
            id="phone"
            src="assets/icon/phone.png"
            alt="phone"
            width="20px"
            height="20px"
          />
        </a>
      </li>

      <li>
        <a href="mailto:dreamweddingsphoto@gmail.com">
          <img
            id="mail"
            src="assets/icon/mail.png"
            alt="mail"
            width="20px"
            height="20px"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
