.header {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  align-self: center;
  margin: auto;
}

#header-menu {
  width: 20%;
  height: 100px;
  background-color: transparent;
  border: none;
  color: white;
  position: fixed;
  right: 0;
  top: 0;
}

.menu {
  text-decoration: none;
}
