<app-header></app-header>
<app-header-mobile></app-header-mobile>

<body>
  <!--fundo header-->
  <div id="fundo"></div>

  <div id="categorias">
    <a href="/portifolio/pre-wedding/anderson-e-giovanna">
      <div class="categoria">
        <img
          id="1"
          src="assets/photos/pre-wedding.jpg"
          alt="Anderson e Giovanna"
          width="350px"
          height="497px"
          class="photo"
        />
        <a class="title">ANDERSON E GIOVANNA</a>
      </div>
    </a>

    <a href="/portifolio/pre-wedding">
      <div class="categoria">
        <img
          id="2"
          src="assets/photos/pre-wedding.jpg"
          alt="Teste2"
          width="350px"
          height="497px"
          class="photo"
        />
        <a class="title">Teste2</a>
      </div>
    </a>

    <a href="/portifolio/pre-wedding">
      <div class="categoria">
        <img
          id="3"
          src="assets/photos/pre-wedding.jpg"
          alt="teste3"
          width="350px"
          height="497px"
          class="photo"
        />
        <a class="title">teste3</a>
      </div>
    </a>
  </div>
  <app-footer-dark></app-footer-dark>
</body>
