#fundo {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #91947f;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  z-index: -1;
}

* {
  background-color: #91947f;
}

#imagens {
  margin: auto;
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 7%;
}

.photo {
  display: inline-block;
  position: relative;
  margin: 2%;
}

.photo:hover {
  cursor: pointer;
}

#fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

#fullscreen-overlay:hover img {
  -webkit-filter: blur(0);
  filter: blur(0);
}

#fullscreen-image-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 90vh;
}

#fullscreen-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

#thumbnail-container.align-center {
  justify-content: center;
}

.thumbnail {
  margin-right: 10px;
  width: 80px;
  height: 60px;
  overflow: hidden;
  scroll-snap-align: center;
}

.thumbnail img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail img.active {
  border: 2px solid #fff;
}

.thumbnail-zoomed {
  justify-content: flex-start;
}

.thumbnail-zoomed .thumbnail {
  flex: 1;
  width: auto;
  height: auto;
}

.thumbnail-zoomed .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.arrow {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.5;
}

.arrow:hover {
  background-color: #ccc;
  opacity: 1;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* blur */
img {
  -webkit-filter: blur(0);
  filter: blur(0);
}

img:hover,
img:focus,
img:active {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 50px 2px #484a3f;
  -moz-box-shadow: 0 0 50px 2px #484a3f;
  box-shadow: 0 0 50px 2px #484a3f;
}

/* responsivadade */
app-header-mobile {
  display: none;
}

@media (max-width: 800px) {
  app-header {
    display: none;
  }

  app-header-mobile {
    display: block;
  }
}
