<app-header></app-header>
<app-header-mobile></app-header-mobile>

<app-carrossel></app-carrossel>

<div id="container-sobre">
  <div xLayout="row" fxLayoutAlign="start center">
    <img
      id="photo"
      src="assets/larissa.jpg"
      alt="Larissa"
      width="300px"
      height="317px"
    />

    <div fxLayout="column" fxLayoutAlign="center center" class="info">
      <h1 id="sobre">Sobre a fotógrafa</h1>
      <p class="desc">
        Oi, sou a Lari, muito prazer! Tenho 24 anos, sou uma eterna curiosa, com
        uma paixão inexplicável por guardar memórias! Meu objetivo é eternizar o
        seu grande dia de uma maneira única, sensível, com ênfase nos pequenos
        detalhes. Que a minha fotografia não seja apenas um registro, mas uma
        experiência inesquecível.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
